@{
    ViewData["Title"] = "Home Page";
}
@model SurveyResult

<div class="container mt-3">
    <h3><u>Submitted Info</u></h3>
    <p>Name: @Model.Name</p>
    <p>Location: @Model.Location</p>
    <p>Language: @Model.Language</p>
    <p>Comment: @Model.Comment</p>
</div>